In [5]:
storage unit ;
parameter unit ;
code {
    DROP;
    PUSH unit Unit ;
    NIL operation ;
    PAIR
}

storage: updated
parameter: updated
code: updated

In [6]:
RUN %default Unit Unit ;

BEGIN %default / _ => (Unit * Unit)
DROP / (Unit * Unit) => _
PUSH / _ => Unit
NIL / _ => []
PAIR / [] : Unit => ([] * Unit)
END %default / ([] * Unit) => _

Operations
Storage
type    value
------  -------
unit    Unit

In [7]:
storage unit ;
parameter unit ;
BEGIN Unit Unit;
DROP

storage: updated
parameter: updated
BEGIN %default / _ => (Unit * Unit)

Stack updates
  index  type              value
-------  ----------------  ------------
      0  pair (unit unit)  (Unit, Unit)

In [13]:
storage unit ;
parameter unit ;
BEGIN Unit Unit;
DROP ;
DUMP ;
PUSH unit Unit ;
DUMP ;
NIL operation;
DUMP ;
PAIR;
DUMP ;
COMMIT ;

storage: updated
parameter: updated
BEGIN %default / _ => (Unit * Unit)
DROP / (Unit * Unit) => _
DUMP => []
PUSH / _ => Unit
DUMP => [Unit]
NIL / _ => []
DUMP => [[], Unit]
PAIR / [] : Unit => ([] * Unit)
DUMP => [([] * Unit)]
END %default / ([] * Unit) => _

Operations
Storage
type    value
------  -------
unit    Unit