In [2]:
storage unit ;
parameter unit ;
DROP ;
PUSH int 4 ;
PUSH int 3 ;
SUB ;
DUMP ;

storage: updated
parameter: updated
DROP / 8 => _
PUSH / _ => 4
PUSH / _ => 3
SUB / 3 : 4 => -1
DUMP => [-1]

Stack updates
  index  type      value
-------  ------  -------
      0  int          -1

In [8]:
storage unit ;
parameter unit ;
BEGIN Unit  Unit ;
DROP ;
PUSH nat 5 ;
PUSH mutez 1000 ;
EDIV ;
DUMP ;
IF_NONE { FAIL } {} ;
DUMP ;
CAR ;

storage: updated
parameter: updated
DROP / (0.0002 * 0) => _
PUSH / _ => 5
PUSH / _ => 0.001
EDIV / 0.001 : 5 => (0.0002 * 0)?
DUMP => [(0.0002 * 0)?]
IF_NONE / (0.0002 * 0)? => (0.0002 * 0)
DUMP => [(0.0002 * 0)]
CAR / (0.0002 * 0) => 0.0002

Stack updates
  index  type      value
-------  ------  -------
      0  mutez       200

In [14]:
storage unit ;
parameter unit ;
BEGIN Unit  Unit ;
DROP ;
PUSH int 3 ;
ISNAT ;

storage: updated
parameter: updated
BEGIN %default / _ => (Unit * Unit)
DROP / (Unit * Unit) => _
PUSH / _ => 3
ISNAT / 3 => 3?

Stack updates
  index  type            value
-------  ------------  -------
      0  option (nat)        3