In [19]:
storage mutez ;
parameter unit ;
BEGIN Unit 1000 ;
DUMP ;
CDR @storage ;
PUSH mutez 1000 ;
DUMP ;
ADD ;
PUSH mutez 500 ;
DUMP ;
SWAP ;
SUB ;
PUSH nat 3 ;
SWAP ;
EDIV ;
IF_NONE 
    { PUSH string "DivisionByZero" ; FAILWITH } 
    {
        DUP ;
        CAR @quotient ;
        SWAP ;
        CDR @remainder ;
    } ;
DUMP ;

storage: updated
parameter: updated
BEGIN %default / _ => (Unit * 0.001)
DUMP => [(Unit * 0.001)]
CDR / (Unit * 0.001) => 0.001
PUSH / _ => 0.001
DUMP => [0.001, 0.001]
ADD / 0.001 : 0.001 => 0.002
PUSH / _ => 0.0005
DUMP => [0.0005, 0.002]
SWAP / 0.0005 : 0.002 => 0.002 : 0.0005
SUB / 0.002 : 0.0005 => 0.0015
PUSH / _ => 3
SWAP / 3 : 0.0015 => 0.0015 : 3
EDIV / 0.0015 : 3 => (0.0005 * 0)?
IF_NONE / (0.0005 * 0)? => (0.0005 * 0)
DUP / (0.0005 * 0) => (0.0005 * 0) : (0.0005 * 0)
CAR / (0.0005 * 0) => 0.0005
SWAP / 0.0005 : (0.0005 * 0) => (0.0005 * 0) : 0.0005
CDR / (0.0005 * 0) => 0
DUMP => [0, 0.0005]

Stack updates
  index  type      value
-------  ------  -------
      0  mutez         0
      1  mutez       500

In [23]:
storage mutez ;
parameter unit ;
code {
    PATCH AMOUNT 200 ;
    CDR ; 
    AMOUNT ;
    IFCMPGT 
        { AMOUNT ; NIL operation ; PAIR }
        { FAIL }
    
} ;

RUN %default Unit 100 ;

storage: updated
parameter: updated
code: updated
BEGIN %default / _ => (Unit * 0.0001)
CDR / (Unit * 0.0001) => 0.0001
AMOUNT / _ => 0.0002
COMPARE / 0.0002 : 0.0001 => 1
GT / 1 => True
IF / True => _
AMOUNT / _ => 0.0002
NIL / _ => []
PAIR / [] : 0.0002 => ([] * 0.0002)
END %default / ([] * 0.0002) => _

Operations
Storage
type      value
------  -------
mutez       200

In [ ]:
storage string ;
parameter unit ;
code {
   PATCH AMOUNT 2;
   DROP ;
   AMOUNT ;
   PUSH mutez 0 ;
   IFCMPNEQ 
       { PUSH string "AmountNotZero" ; FAILWITH ; }
       { 
           PUSH string "No Amount !" ;
           NIL operation ;
           PAIR ;
       } 
} ;

RUN %default Unit  "" ;

storage: updated
parameter: updated
code: updated
BEGIN %default / _ => (Unit * '')
DROP / (Unit * '') => _
AMOUNT / _ => 0.000002
PUSH / _ => 0
COMPARE / 0 : 0.000002 => -1
NEQ / -1 => True
IF / True => _
PUSH / _ => 'AmountNotZero'
FAILWITH: 'AmountNotZero'

FAILWITH: 'AmountNotZero'

In [31]:
storage mutez ;
parameter unit ;
code {
    DROP ;
    PATCH AMOUNT 100;
    PATCH BALANCE 100;
    AMOUNT ;
    BALANCE ;
    ADD ;
    DUP ;
    PUSH mutez 1000 ;
    IFCMPGT 
        { NIL operation ; PAIR }
        { FAIL }
} ;

RUN %default Unit 1000 ;

storage: updated
parameter: updated
code: updated
BEGIN %default / _ => (Unit * 0.001)
DROP / (Unit * 0.001) => _
AMOUNT / _ => 0.0001
BALANCE / _ => 0.0001
ADD / 0.0001 : 0.0001 => 0.0002
DUP / 0.0002 => 0.0002 : 0.0002
PUSH / _ => 0.001
COMPARE / 0.001 : 0.0002 => 1
GT / 1 => True
IF / True => _
NIL / _ => []
PAIR / [] : 0.0002 => ([] * 0.0002)
END %default / ([] * 0.0002) => _

Operations
Storage
type      value
------  -------
mutez       200

In [33]:
storage (contract unit) ;
parameter unit ;
code {
    DROP ;
    PUSH address "tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb" ;
    CONTRACT unit ;
    IF_NONE 
        { FAIL }
        { NIL operation ; PAIR ;} ;
    
} ;
RUN %default Unit "tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb"

storage: updated
parameter: updated
code: updated
BEGIN %default / _ => (Unit * tz1VSU…cjb%default)
DROP / (Unit * tz1VSU…cjb%default) => _
PUSH / _ => tz1VSU…cjb
CONTRACT: skip type checking for tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb
CONTRACT / tz1VSU…cjb => tz1VSU…cjb%default?
IF_NONE / tz1VSU…cjb%default? => tz1VSU…cjb%default
NIL / _ => []
PAIR / [] : tz1VSU…cjb%default => ([] * tz1VSU…cjb%default)
END %default / ([] * tz1VSU…cjb%default) => _

Operations
Storage
type      value
--------  ------------------------------------
contract  tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb

In [50]:
storage unit ;
parameter unit ;
BEGIN Unit Unit ;
PATCH BALANCE 10000000 ;
DROP ;
DUMP ;
PUSH address "tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb" ;
CONTRACT unit ;
IF_NONE 
    { PUSH string "InvalidAddress" ; FAILWITH ;} { } ;
DUMP ;
PUSH mutez 50000000 ;
DUMP ;
PUSH unit Unit ;
DUMP ;
TRANSFER_TOKENS ;
DUMP ;
NIL operation ;
SWAP ;
CONS ;
DUMP ;
UNIT ;
SWAP ;
PAIR ;
COMMIT ;

storage: updated
parameter: updated
BEGIN %default / _ => (Unit * Unit)
DROP / (Unit * Unit) => _
DUMP => []
PUSH / _ => tz1VSU…cjb
CONTRACT: skip type checking for tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb
CONTRACT / tz1VSU…cjb => tz1VSU…cjb%default?
IF_NONE / tz1VSU…cjb%default? => tz1VSU…cjb%default
DUMP => [tz1VSU…cjb%default]
PUSH / _ => 50
DUMP => [50, tz1VSU…cjb%default]
PUSH / _ => Unit
DUMP => [Unit, 50, tz1VSU…cjb%default]
TRANSFER_TOKENS / Unit : 50 : tz1VSU…cjb%default => transaction
DUMP => [transaction]
NIL / _ => []
SWAP / [] : transaction => transaction : []
CONS / transaction : [] => [transaction]
DUMP => [[transaction]]
UNIT / _ => Unit
SWAP / Unit : [transaction] => [transaction] : Unit
PAIR / [transaction] : Unit => ([transaction] * Unit)
END %default / ([transaction] * Unit) => _

Operations
type       kind         source                                destination                             amount  parameters
---------  -----------  ------------------------------------  ------------------------------------  --------  ----------------------------------------------------
operation  transaction  KT1BEqzn5Wx8uJrZNvuS9DVHmLvG9td3fDLi  tz1VSUr8wwNhLAzempoch5d6hLRiTh8Cjcjb  50000000  {'entrypoint': 'default', 'value': {'prim': 'Unit'}}Storage
type    value
------  -------
unit    Unit