In [3]:
storage string ;
parameter string ;
code {
    CAR ; 
    DUP ;
    SIZE ;
    PUSH nat 5 ;
    IFCMPLE
        { 
            NIL operation ;
            PAIR ;
        }
        {
            PUSH string "LengthMismatch" ;
            FAILWITH ;
        } ;
} ; 
RUN %default "tezos" "" ;

storage: updated
parameter: updated
code: updated
BEGIN %default / _ => ('tezos' * '')
CAR / ('tezos' * '') => 'tezos'
DUP / 'tezos' => 'tezos' : 'tezos'
SIZE / 'tezos' => 5
PUSH / _ => 5
COMPARE / 5 : 5 => 0
LE / 0 => True
IF / True => _
NIL / _ => []
PAIR / [] : 'tezos' => ([] * 'tezos')
END %default / ([] * 'tezos') => _

Operations
Storage
type    value
------  -------
string  tezos

In [14]:
storage string ;
parameter string ;
code {
    CAR ;
    PUSH @length nat 3 ;
    PUSH @offset nat 6 ; 
    DUMP ;
    SLICE ;
    IF_NONE { PUSH string "WrongLength" ; FAILWITH ; } 
    { 
        NIL operation ;
        PAIR ;
    }
  
} ;
RUN %default "BakingBad" "" ;

storage: updated
parameter: updated
code: updated
BEGIN %default / _ => ('BakingBad' * '')
CAR / ('BakingBad' * '') => 'BakingBad'
PUSH / _ => 3
PUSH / _ => 6
DUMP => [6, 3, 'BakingBad']
SLICE / 6 : 3 : 'BakingBad' => 'Bad'?
IF_NONE / 'Bad'? => 'Bad'
NIL / _ => []
PAIR / [] : 'Bad' => ([] * 'Bad')
END %default / ([] * 'Bad') => _

Operations
Storage
type    value
------  -------
string  Bad

In [17]:
storage string ;
parameter string ;
code {
    CAR ;
    DUP ;
    PUSH @length nat 6 ;
    PUSH @offset nat 0 ;
    SLICE ;
    IF_NONE 
        { PUSH string "WrongLength" ; FAILWITH ;}
        { } ;
    SWAP ;
    PUSH @length nat 3 ;
    PUSH @offset nat 6 ;
    SLICE ;
    IF_NONE 
        { PUSH string "WrongLength" ; FAILWITH ;}
        { } ;
    SWAP ;
    PUSH string " " ;
    SWAP ;
    CONCAT ;
    CONCAT ;
    NIL operation ;
    PAIR ;
} ;

RUN %default "BakingBad" "" ;

storage: updated
parameter: updated
code: updated
BEGIN %default / _ => ('BakingBad' * '')
CAR / ('BakingBad' * '') => 'BakingBad'
DUP / 'BakingBad' => 'BakingBad' : 'BakingBad'
PUSH / _ => 6
PUSH / _ => 0
SLICE / 0 : 6 : 'BakingBad' => 'Baking'?
IF_NONE / 'Baking'? => 'Baking'
SWAP / 'Baking' : 'BakingBad' => 'BakingBad' : 'Baking'
PUSH / _ => 3
PUSH / _ => 6
SLICE / 6 : 3 : 'BakingBad' => 'Bad'?
IF_NONE / 'Bad'? => 'Bad'
SWAP / 'Bad' : 'Baking' => 'Baking' : 'Bad'
PUSH / _ => ' '
SWAP / ' ' : 'Baking' => 'Baking' : ' '
CONCAT / 'Baking' : ' ' => 'Baking '
CONCAT / 'Baking ' : 'Bad' => 'Baking Bad'
NIL / _ => []
PAIR / [] : 'Baking Bad' => ([] * 'Baking Bad')
END %default / ([] * 'Baking Bad') => _

Operations
Storage
type    value
------  ----------
string  Baking Bad

In [19]:
storage (list string) ;
parameter string ;
code {
    CAR ;
    NIL string ;
    SWAP ;
    CONS ;
    NIL operation ;
    PAIR ;
} ;

RUN %default "tez" {}

storage: updated
parameter: updated
code: updated
BEGIN %default / _ => ('tez' * [])
CAR / ('tez' * []) => 'tez'
NIL / _ => []
SWAP / [] : 'tez' => 'tez' : []
CONS / 'tez' : [] => ['tez']
NIL / _ => []
PAIR / [] : ['tez'] => ([] * ['tez'])
END %default / ([] * ['tez']) => _

Operations
Storage
type           value
-------------  -------
list (string)  ['tez']

In [35]:
storage (list nat) ;
parameter (list nat ) ;
code {
    CAR ;
    MAP {
        DUP ;
        PUSH nat 3 ;
        IFCMPGT 
            { PUSH nat 2 ; ADD ; }
            { }
    } ; 
    NIL operation ;
    PAIR ;
} ;

RUN %default { 1; 3; 4; 5;} {} ;

storage: updated
parameter: updated
code: updated
BEGIN %default / _ => ([1, 3, 4, 5] * [])
CAR / ([1, 3, 4, 5] * []) => [1, 3, 4, 5]
MAP / [1, 3, 4, 5] => 1
DUP / 1 => 1 : 1
PUSH / _ => 3
COMPARE / 3 : 1 => 1
GT / 1 => True
IF / True => _
PUSH / _ => 2
ADD / 2 : 1 => 3
MAP / 3 => 3
DUP / 3 => 3 : 3
PUSH / _ => 3
COMPARE / 3 : 3 => 0
GT / 0 => False
IF / False => _
MAP / 3 => 4
DUP / 4 => 4 : 4
PUSH / _ => 3
COMPARE / 3 : 4 => -1
GT / -1 => False
IF / False => _
MAP / 4 => 5
DUP / 5 => 5 : 5
PUSH / _ => 3
COMPARE / 3 : 5 => -1
GT / -1 => False
IF / False => _
MAP / 5 => [3, 3, 4, 5]
NIL / _ => []
PAIR / [] : [3, 3, 4, 5] => ([] * [3, 3, 4, 5])
END %default / ([] * [3, 3, 4, 5]) => _

Operations
Storage
type        value
----------  ------------
list (nat)  [3, 3, 4, 5]