In [8]:
storage int ;
parameter unit ;
code {
    DROP ;
    PUSH int 3 ;
    PUSH int 3 ;
    ADD ;
    NIL operation ;
    PAIR ;
    
}

storage: updated
parameter: updated
code: updated

In [11]:
RUN %default Unit 4;

BEGIN %default / _ => (Unit * 4)
DROP / (Unit * 4) => _
PUSH / _ => 3
PUSH / _ => 3
ADD / 3 : 3 => 6
NIL / _ => []
PAIR / [] : 6 => ([] * 6)
END %default / ([] * 6) => _

Operations
Storage
type      value
------  -------
int           6

In [12]:
storage string ;
parameter unit ;
code {
    DUP ;
    CAR ;
    SWAP ;
    CDR ;
    PUSH string "world" ;
    SWAP ;
    CONCAT ;
    DIP { DROP } ;
    NIL operation ;
    PAIR 
}

storage: updated
parameter: updated
code: updated

In [38]:
parameter unit ;
storage string ;
BEGIN Unit "Hello " ;
DUP ; DUMP ;
CAR ; DUMP ;
SWAP ; DUMP ;
CDR ; DUMP ;
PUSH string "world" ; DUMP ;
SWAP ; DUMP ;
CONCAT ; DUMP ;
DIP { DROP } ; DUMP ;
NIL operation ; DUMP ;
PAIR ;
COMMIT ;

parameter: updated
storage: updated
BEGIN %default / _ => (Unit * 'Hello ')
DUP / (Unit * 'Hello ') => (Unit * 'Hello ') : (Unit * 'Hello ')
DUMP => [(Unit * 'Hello '), (Unit * 'Hello ')]
CAR / (Unit * 'Hello ') => Unit
DUMP => [Unit, (Unit * 'Hello ')]
SWAP / Unit : (Unit * 'Hello ') => (Unit * 'Hello ') : Unit
DUMP => [(Unit * 'Hello '), Unit]
CDR / (Unit * 'Hello ') => 'Hello '
DUMP => ['Hello ', Unit]
PUSH / _ => 'world'
DUMP => ['world', 'Hello ', Unit]
SWAP / 'world' : 'Hello ' => 'Hello ' : 'world'
DUMP => ['Hello ', 'world', Unit]
CONCAT / 'Hello ' : 'world' => 'Hello world'
DUMP => ['Hello world', Unit]
DIP / * => _
DROP / Unit => _
DIP 1 / _ => *
DUMP => ['Hello world']
NIL / _ => []
DUMP => [[], 'Hello world']
PAIR / [] : 'Hello world' => ([] * 'Hello world')
END %default / ([] * 'Hello world') => _

Operations
Storage
type    value
------  -----------
string  Hello world

In [41]:
parameter unit ;
storage string ;
code {
    CDR ;
    PUSH string "world" ;
    SWAP ;
    CONCAT ;
    NIL operation ;
    PAIR ;
}

parameter: updated
storage: updated
BEGIN %default / _ => (Unit * 'Hello ')
DUMP => [(Unit * 'Hello ')]
CDR / (Unit * 'Hello ') => 'Hello '
PUSH / _ => 'world'
SWAP / 'world' : 'Hello ' => 'Hello ' : 'world'
CONCAT / 'Hello ' : 'world' => 'Hello world'
DUMP => ['Hello world']

Stack updates
  index  type    value
-------  ------  -----------
      0  string  Hello world

In [42]:
RUN %default Unit "Hello "

BEGIN %default / _ => (Unit * 'Hello ')
DUP / (Unit * 'Hello ') => (Unit * 'Hello ') : (Unit * 'Hello ')
CAR / (Unit * 'Hello ') => Unit
SWAP / Unit : (Unit * 'Hello ') => (Unit * 'Hello ') : Unit
CDR / (Unit * 'Hello ') => 'Hello '
PUSH / _ => 'world'
SWAP / 'world' : 'Hello ' => 'Hello ' : 'world'
CONCAT / 'Hello ' : 'world' => 'Hello world'
DIP / * => _
DROP / Unit => _
DIP 1 / _ => *
NIL / _ => []
PAIR / [] : 'Hello world' => ([] * 'Hello world')
END %default / ([] * 'Hello world') => _

Operations
Storage
type    value
------  -----------
string  Hello world